{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>

    <br>

    <h4>Needed Software</h4>
    <br>
    
    <p>
      Autopsy - https://www.sleuthkit.org/autopsy/
    </p>
    <p>
      FTK - https://accessdata.com/product-download
    </p>
    <p>
      Digital Forensics Framework - http://digitalforensicsframework.blogspot.com/
    </p>
    <p>
      SIFT - https://digital-forensics.sans.org/community/downloads
    </p>
    <p>
      The Sleuth Kit - https://www.sleuthkit.org/sleuthkit/
    </p>
    <p>
      Volatility - https://www.volatilityfoundation.org/
    </p>
    <p>
      Encase - https://www.guidancesoftware.com/encase-forensic
    </p>
    <p>
      HexEditor - https://mh-nexus.de/en/hxd/
    </p>

{% endblock content %}
